@import '../../common';

$background-color: rgba(240,240,240, 0.9);

.div__searchbox {
  height: 2rem;
  width: 100%;
  @include flexbox(row, nowrap, center, center);
  background-color: $background-color;
  input[type="text"] {
    @include input-box;
    margin: 0 1rem;
    width: 100%;
    font-size: 13px;
  }
}
