@import '../../common';

$blip-background-color: rgb(255, 255, 255);
$blip-header-background-color: rgba(221,227,234, 0.5);
$blip-box-shadow-color: rgba(0, 0, 0, 0.2);
$scrollbar-color: rgba(70, 80, 90, 0.3);
$blip-text-color: rgb(143,150,159);
$blip-button-color: rgba(143,150,159, 0.7);
$section-text-color-main: rgb(136,94,245);
$section-text-color-sub: rgb(160,200,254);
$section-text-color-subsub: rgba(75,29,97, 0.6);
.div__blip {
  width: 15rem;
  height: 7.5rem;
  padding: 0.5rem;
  @include blip($blip-background-color, $blip-box-shadow-color, 0.5rem);
  @include flexbox(column, nowrap, flex-start, center);
  color: $blip-text-color;
  div {
    width: 100%;
    height: 100%;
    .div__blip__header {
      width: 100%;
      height: 1.5rem;
      span {
        @include span-block(0.5rem, 10px, #DDE3EA);
        &.span__year {
          font-size: 14px;
          color: $section-text-color-main;
        }
        &.span__dayandmonth {
          color: $section-text-color-sub;
        }
        &.span__time {
          color: $section-text-color-subsub;
        }
      }
    }
    .div__blip__body {
      width: 100%;
      height: 4.5rem;
      @include scrollbars(0.1rem, $scrollbar-color);
      border-left: 0.1rem solid;
      border-top: 0.1rem solid;
      border-bottom: 0.1rem solid;
      border-right: 0.1rem solid;
      border-color: mix($scrollbar-color, white,  50%);
      p {
        width: calc(100% - 0.6rem);
        height: calc(100% - 0.6rem);
        padding: 0.3rem 0.3rem;
        font-size: 10px;
        letter-spacing: 1.3px;
        text-align: justify;
        overflow-y: scroll;
      }
    }
    .div__blip__ctrlbar {
      width: 100%;
      height: 1rem;
      padding: 0.5rem 0rem;
      color: $blip-button-color;
      @include flexbox(row, nowrap, space-between, center);
      span {
        font-size: 10px;
        letter-spacing: 2px;
      }
    }
  }

}
