@import '../../common';

$header-background-color: rgb(123,110,210);
$header-text-color: rgba(220, 231, 248, 0.9);
.div__header__container {
  width: 100%;
  @include flexbox(row, nowrap, space-between, center);
  background-color: $header-background-color;
  height: 3.0rem;
  color: $header-text-color;
  letter-spacing: 3px;
  .div__header__brand {
    color: $header-text-color;
    margin: 0 0.5rem;
    font-size: 14px;
  }
  .div__header__items {
    @include flexbox(row, nowrap, flex-end, center);
    margin: 0 0.5rem;
    font-size: 12px;
    span a{
      color: inherit;
      text-decoration: none;
    }
  }
}
