@import '../common';

$page-background-color: rgba(240, 240, 240, 0.4);

.div__page {
  height: 100%;
  @include flexbox(column, nowrap, space-between, center);
  background-color: $page-background-color;
}

