@mixin flexbox ($orientation, $wrap, $justify-content, $align-items) {
  display: flex;
  flex-flow: $orientation $wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin input-box {
  outline: none;
  width: 100%;
  border: 0px solid;
  background-color: rgba(0, 0, 0, 0);
  letter-spacing: 3px;
}

@mixin blip($background-color, $box-shadow-color, $margin) {
  margin: $margin;
  background-color: $background-color;
  box-shadow: 0 2px 4px 0 $box-shadow-color;
}

@mixin span-block($margin, $font-size, $background-color) {
  text-overflow: ellipsis;
  margin: 0 $margin;
  display: inline-block;
  font-size: $font-size;
  line-height: $font-size;
}

.span-text-item {
  margin: 0 0.5rem;
}

.link {
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

.hidden {
  display: none;
}

.div__modal {
  position: fixed;
  top: 10%;
  width: 800px;
  left: calc(50% - 400px);
  z-index: 3;
  @include flexbox(column, nowrap, flex-start, center);
  margin: 0 auto;
  .div__modal__header {
    width: 100%;
    background-color: lightgray;
    @include flexbox(row, nowrap, flex-end, center);
    .close {
      @extend .link;
      width: 30px;
    }
  }
  img {
    width: 800px;
  }
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  0%)) {
  // For Google Chrome
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }
}
